<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="styles.css">
        <title>Tab</title>
    </head>
    <body>
        <div class="tab">
            <ul class="tab-nav">
                <li data-value="0" class="tab-nav-item"><a href="#">1</a></li>
                <li data-value="1" class="tab-nav-item"><a href="#">2</a></li>
                <li data-value="2" class="tab-nav-item"><a href="#">3</a></li>
                <li data-value="3" class="tab-nav-item"><a href="#">4</a></li>
            </ul>
            <div class="tab-content">
                <img data-value="1" src="imgs/image70.jpg" />
                <img date-value="2" src="imgs/image71.jpg" />
                <img data-value="3" src="imgs/image72.jpg" />
                <img data-value="3" src="imgs/image73.jpg" />
            </div>
        </div>


    </body>
    <script src="script.js"></script>
</html>