body {
	background-image: url(https://f.cl.ly/items/2K0P3z2y3X3c052f2B3Y/Image%202013.04.30%2021%3A28%3A02.png);
}
#traffic-light {
	position: absolute;
	display: block;
	left: 50%;
	top: 50%;
	margin-left: -60px;
	margin-top: -160px;
	background-color: #333333;
	width: 120px;
	height: 320px;
	border-radius: 30px;
}
input {
	appearance: none;
	-webkit-appearance: none;

	position: relative;
	left: 50%;
	width: 80px;
	height: 80px;
	margin-top: 20px;
	margin-left: -40px;
	background-color: grey;
	vertical-align: middle;
	border-radius: 100%;
	display: block;
}
input#color-red {
	background-color: #b30000;
}
input#color-red:checked {
	background-color: #ff0000;
	box-shadow: 0 0 6em #ff3333;
}
input#color-yellow {
	background-color: #b2b300;
}
input#color-yellow:checked {
	background-color: #ffff00;
	box-shadow: 0 0 6em #ffff33;
}
input#color-green {
	background-color: #00b300;
}
input#color-green:checked {
	background-color: #00ff00;
	box-shadow: 0 0 6em #33ff33;
}
@keyframes blink1 {
	0% {
		background-color: #ff0000;
		box-shadow: 0 0 6em #ff3333;
	}
	50% {
		background-color: #b30000;
		box-shadow: 0 0 0em transparent;
	}
}
@keyframes blink2 {
	0% {
		background-color: #ffff00;
		box-shadow: 0 0 6em #ffff33;
	}
	50% {
		background-color: #b2b300;
		box-shadow: 0 0 0em transparent;
	}
}
@keyframes blink3 {
	0% {
		background-color: #00ff00;
		box-shadow: 0 0 6em #33ff33;
	}
	50% {
		background-color: #00b300;
		box-shadow: 0 0 0em transparent;
	}
}
* {
	user-select: none;
	outline: none;
}
